#####################
# Web
####################
#browser = firefox
#browser.bin.path = /Applications/Firefox.app/Contents/MacOS/firefox
#browser.driver.path = /Users/geinttestesdecanais/_ftabb/navegadores/firefox/geckodriver

####################
# Android
####################

browser = android
browser.mobile.app = C:\\appk\\main-debug.apk
#browser.mobile.app = C:\\appk\\hbk_homologacao.apk

#device virtual
browser.mobile.device.name = emulator-5554
browser.mobile.device.versao_so = 9

#device real
#browser.mobile.device.name = ASUS_X00HD_1
#browser.mobile.device.versao_so = 8.1.0

#device real
#browser.mobile.device.name = shell@my70ds
#browser.mobile.device.versao_so = 5.0.1

browser.remote.host = http://127.0.0.1:4723/wd/hub
browser.mobile.no_reset=true

#ambiente
#hbkmobile.ambiente =Desenvolvimento (8007)
hbkmobile.ambiente =Homologação
#hbkmobile.ambiente =URL Específica (HTTP)

# Configurações do painel
painel.ativar_gravacao = true
painel.servico = HBK MOBILE ANDROID
painel.sigla = HBK

####################
# IOS
####################

#browser = ios
#browser.mobile.bundleid = inhouse.br.com.bb.bbhost
#browser.remote.host = http://127.0.0.1:4723/wd/hub
#apfmobile.bbhost.bundle_id = inhouse.br.com.bb.bbhost
