<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id='app'>
        <h1>{{ message }}</h1>
        <ul>
           <li v-for="task in tasks">
               {{task.name}}
           </li>
       </ul>

       <input type="text" placeholder="Nome da Tarefa" v-model="taskName"/>
       <button v-on:click="addTask">Adicionar</button>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
               message: 'Lista de Tarefas',
               taskName: '',
               tasks: [
                   {name: 'Estudar JavaScript'},
                   {name: 'Estudar VueJS'},
                   {name: 'Estudar Automação de stream'}
               ] 
            },
            methods: {
                addTask(){
                    this.tasks.push({name: this.taskName})
                }
            }
        })
    </script>
</body>
</html>
